@import 'styles/variables.scss';

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: $color-dark-blue;
  border: 2px solid $color-black;
  transition: $effects-transition;

  &:hover:enabled {
    opacity: $effects-hover-opacity;
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  &:active:enabled {
    opacity: $effects-active-opacity;
  }

  &--m {
    padding: 8px 40px;
    font-size: $font-size-xs;
    line-height: $line-height-xxs;
    border-radius: 24px;
  }

  &--l {
    padding: 16px 56px;
    font-size: $font-size-s;
    line-height: $line-height-xs;
    border-radius: 56px;
  }

  &--regular {
    font-weight: $font-weight-regular;
  }

  &--semibold {
    font-weight: $font-weight-semibold;
  }

  &--bold {
    font-weight: $font-weight-bold;
  }

  &--white {
    background-color: $color-white;
  }

  &--green {
    background-color: $color-green;
  }
}
