$color-white: #ffffff;
$color-black: #000000;
$color-dark-blue: #1c3d5b;
$color-green: #65e4a3;
$color-gray: #777777;

$font-weight-regular: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

$font-size-xxs: 13px;
$font-size-xs: 16px;
$font-size-s: 20px;
$font-size-m: 43px;
$font-size-xxl: 48px;
$font-size-xxxl: 64px;

$line-height-xs: 28px;
$line-height-s: 32px;
$line-height-m: 34px;
$line-height-xxl: 72px;
$line-height-xxxl: 84px;
