@import 'styles/variables.scss';

.section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 39px;
  padding: 0 100px;
  margin-bottom: 96px;

  @media (max-width: 1399px) {
    margin-bottom: 20px;
  }

  @media (max-width: 1200px) {
    gap: 0;
  }

  @media (max-width: 700px) {
    padding: 0 50px;
  }

  @media (max-width: 480px) {
    padding: 0 15px;
  }

  & .topContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 28px 23px;
  }

  & .text {
    font-size: $font-size-s;
    line-height: $line-height-s;
  }

  & .mainContainer {
    display: flex;
    gap: 100px;
    margin-bottom: 33px;

    @media (max-width: 1200px) {
      flex-direction: column;
      gap: 50px;
    }

    & .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 16px;
      margin-bottom: 12px;
    }

    & .textWrapper {
      display: flex;
      flex-direction: row;
      gap: 12px;
    }

    & .image {
      @media (max-width: 1200px) {
        align-self: center;
      }

      @media (max-width: 700px) {
        width: 100%;
        height: auto;
      }
    }
  }

  & .line {
    width: 100%;
    height: 1px;
    background-color: $color-dark-blue;
  }
}
